<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Management System</title>
    
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/addMedicine.css">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Nav Bar -->
    <div class="big-heading">Medical Management System</div>
    <div class="navbar">
        <a href="/">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/newInvoice">Add New Invoice</a>
                <a href="../invoice/manageInvoice.html">Manage Invoice</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addCustomer">Add New Customer</a>
                <a href="/manageCustomer">Manage Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Medicine
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addMedicine">Add New Medicine</a>
                <a href="/manageMedicine">Manage Medicine</a>
                <a href="/manageMedicineStock">Manage Medicine Stock</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Supplier
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addSupplier">Add New Supplier</a>
                <a href="/manageSupplier">Manage Supplier</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Purchase
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addPurchase">Add New Purchase</a>
                <a href="/managePurchase">Manage Purchase</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Report
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../report/purchaseReport.html">Purchase Report</a>
                <a href="../report/salesReport.html">Sales Report</a>
            </div>
        </div>

    </div>


    <!-- Add Customer -->
    <div class="main-container">
        <div class="container-heading">Add Customer</div>
        <hr>
        <div class="main-content">
            <form action="/addCustomer" method="post">

                <div class="form-col">
                    <label for="customer_name">Customer Name :</label>
                    <input type="text" name="customer_name" id="customer_name" placeholder="Name" required>
                </div>

                <div class="form-col">
                    <label for="contact_number">Contact Number :</label>
                    <input type="text" name="contact_number" id="contact_number" placeholder="Contact Number" required>
                </div>

                <div class="form-col">
                    <label for="address">Address :</label>
                    <input type="text" name="address" id="address" placeholder="Address" required>
                </div>

                <div class="form-col">
                    <label for="doct_name">Doctor's Name : </label>
                    <input type="text" name="doct_name" id="doct_name" placeholder="Doctor's Name">
                </div>

                <div class="form-col">
                    <label for="doct_add">Doctor's Address : </label>
                    <input type="text" name="doct_add" id="doct_add" placeholder="Doctor's Address">
                </div>

                <br>
                <hr>

                <div class="btn-add">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>