<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Management System</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/addMedicine.css">
    <link rel="stylesheet" href="./css/addPurchase.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- Nav Bar -->
    <div class="big-heading">Medical Management System</div>
    <div class="navbar">
        <a href="/">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../invoice/newInvoice.html">Add New Invoice</a>
                <a href="../invoice/manageInvoice.html">Manage Invoice</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Add New Customer</a>
                <a href="#">Manage Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Medicine
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addMedicine">Add New Medicine</a>
                <a href="/manageMedicine">Manage Medicine</a>
                <a href="../medicine/manageMedicineStock.html">Manage Medicine Stock</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Supplier
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addSupplier">Add New Supplier</a>
                <a href="/manageSupplier">Manage Supplier</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Purchase
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../purchase/addPurchase.html">Add New Purchase</a>
                <a href="../purchase/managePurchase.html">Manage Purchase</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Report
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="../report/purchaseReport.html">Purchase Report</a>
                <a href="../report/salesReport.html">Sales Report</a>
            </div>
        </div>

    </div>


    <!-- Add Purchase -->
    <div class="main-container">
        <div class="container-heading">Add Purchase</div>
        <hr>
        <div class="main-content">
            <form action="/addPurchase" method="POST">

                <div class="main-div">
                    <div class="sec-div">
                        <label for="supplier">Supplier :</label>
                        <br>
                        <select name="supplier" id="supplier">
                            <% suppliers.forEach(supplier => { %>
                                <option value="<%= supplier.sname %>"><%= supplier.sname %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="sec-div">
                        <label for="inv_no">Invoice Number :</label>
                        <br>
                        <input type="text" name="inv_no" id="inv_no" placeholder="Invoice No">
                    </div>
                    <div class="sec-div">
                        <label for="pay_type">Payment Type : </label>
                        <br>
                        <select name="pay_type" id="pay_type">
                            <option value="cash">Cash</option>
                            <option value="Online">Online</option>
                        </select>
                    </div>
                    <div class="sec-div">
                        <label for="date">Date :</label>
                        <br>
                        <input type="date" name="date" id="date">
                    </div>
                </div>

                <div class="btn">
                    <button>Add New Supplier</button>
                </div>
                <hr>

                <div class="table-form">
                    <table>
                        <thead>
                            <tr>
                                <th>Medicine Name</th>
                                <th>Packing</th>
                                <th>Batch ID</th>
                                <th>EX.Date (mm/yy)</th>
                                <th>Quantity</th>
                                <th>MRP</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="medicine_name" id="medicine_name">
                                        <% medicines.forEach(medicine => { %>
                                            <option value="<%= medicine.medicine_name %>"><%= medicine.medicine_name %></option>
                                        <% }); %>
                                    </select>
                                </td>
                                <td><input type="text" id="packing" name="packing"></td>
                                <td><input type="text" id="batch_id" name="batch_id"></td>
                                <td><input type="text" id="ex_date" name="ex_date"></td>
                                <td><input type="text" id="quantity" name="quantity" placeholder="0"></td>
                                <td><input type="text" name="mrp" id="mrp"></td>
                                <td><input type="text" name="rate" id="rate"></td>
                                <td><input type="text" name="amount" id="amount"></td>
                                <td>
                                    <div class="btn-g">
                                        <button class="add-btn">edit</button>
                                        <button class="del-btn">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="generic-name">
                        <label for="generic_name">If new medicine, Generic Name :</label>
                        <input type="text" id="generic_name" class="generic_name" placeholder="Generic Name">
                    </div>
                    <hr>

                    <div class="grand-total">
                        <label for="total">Grand Total :</label>
                        <input type="text" id="total" class="total">
                    </div>
                </div>

                <div class="btn-add">
                    <button>Add</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
