<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Management System</title>


    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/addMedicine.css">
    <link rel="stylesheet" href="./css/addPurchase.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

        <style>

            @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
    
            *{
                font-family: Arial, Helvetica, sans-serif;
                font-family: 'Rubik', sans-serif;
            }
    
            body{
                background-color: #ebf4f2;
            }
    
            .big-heading{
                background: #6bae9c;    
                font-weight: 600;
                font-size: 20px;
                padding: 20px;
                color: #fff;
            }
    
            .container-heading h2{
                
                border-radius: 20px;
                width: 30%;
                margin: auto;
                color: #6bae9c;
                margin-top: 70px;
               
            }
            
            .main-container{
                background-color: #fff;
                box-shadow: 0px 5px 20px 5px #cee4de80;
                width: 70%;
                margin: auto;
                z-index: -1;
                
                margin-bottom: 100px !important;
                padding: 50px;
                box-sizing: border-box;
                
            }
    
            .main-container input, .main-container select{
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 2px;
                background: #cee4de50;
                margin-bottom: 15px;
                border: none;
                margin-top: 5px;
            }
    
            .main-container label{
                color: #6bae9c;
            }
    
            .main-container button{
                background: linear-gradient(to bottom right, #14d8e8, #56f99f);
                padding: 15px 50px;
                border-radius: 5px;
                color: #000;
                border: none;
                font-weight: bold;
                
            }

            table{
                text-align: left;
            }

            table input, table select{
                width: 95% !important;
            }

            table button{
                height: 50px;
                margin-bottom: 10px;
                margin-right: 10px;
            }

            hr{
                border: 2px solid #f2f2f2;
            }
    
        </style>


</head>

<body>

    <!-- Nav Bar -->
    <div class="big-heading">Medical Management System</div>
    <div class="navbar">
        <a href="/">Dashboard</a>
        <div class="dropdown">
            <button class="dropbtn">Invoice
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/newInvoice">Add New Invoice</a>
                <a href="/manageInvoice">Manage Invoice</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addCustomer">Add New Customer</a>
                <a href="/manageCustomer">Manage Customer</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Medicine
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addMedicine">Add New Medicine</a>
                <a href="/manageMedicine">Manage Medicine</a>
                <a href="/manageMedicineStock">Manage Medicine Stock</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Supplier
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addSupplier">Add New Supplier</a>
                <a href="/manageSupplier">Manage Supplier</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Purchase
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/addPurchase">Add New Purchase</a>
                <a href="/managePurchase">Manage Purchase</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Report
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Purchase Report</a>
                <a href="#">Sales Report</a>
            </div>
        </div>

    </div>
    <div class="container-heading">
        <h2>New Invoice</h2>
    </div>
    
<div class="main-container" style="height: 730px;">
    
    <div class="main-content">
        <form action="/newInvoice" method="post">

            
            <div class="table-form">
                <table style="width: 100%; text-align: left;">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Address</th>
                            <!-- Remove the Invoice No. header -->
                            <th>Payment Type</th>
                            <!-- <th>Date</th>
                            <th>Contact No.</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                
                                <select id="customerSelect" name="customer_name" onchange="fetchCustomerInfo()">
                                    <option value="NO Customer">
                                        Select Customer
                                    </option>
                                    <% defaultCustomer.forEach(customer=> { %>
                                        <option name="customer_name" value="<%= customer.customer_name %>">
                                            <%= customer.customer_name %>
                                        </option>
                                        <% }); %>
                                </select>
                            </td>
                            <td><input type="text" id="address" name="address" placeholder="Address" style="width: 100%;"></td>
                         
                             <td>
                                <select name="" id="pay_type">
                                    <option value="cash">Cash Payment</option>
                                    <option value="online">Online Payment</option>
                                </select>
                            </td>
                            <!--<td><input type="date" name="date" id="date"></td>
                            <td><input type="text" name="contact_no" id="contact_no" placeholder="Contact No."></td> -->
                        </tr>
                    </tbody>
                </table>
                <table style="width: 100%; text-align: left;">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Contact No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="date" name="date" id="date"></td>
                            <td><input type="text" name="contact_no" id="contact_no" placeholder="Contact No."></td>
                            <td><button style="height: 50px;"><a href="/addCustomer">Add New Customer</a></button></td>
                        </tr>
                    </tbody>
                </table>

                <div class="btn">
                    
                </div>
                <hr>

                <!-- Medicine Info -->
                <div class="table-form">
                    <table style="width: 100%; text-align: left; margin-left: -15px;">
                        <thead>
                            <tr>
                                <th>Medicine Name</th>
                                <th>Batch ID</th>
                                <th>Ava.Qty.</th>
                                <th>EX.Date (mm/yy)</th>
                                <th>Quantity</th>
                                <!-- <th>MRP</th>
                                <th>Discount(%)</th>
                                <th>Total</th>
                                <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 300px;">
                                 
                                    <select id="medicineSelect" name="medicineId" onchange="fetchMedicineInfo()">
                                        <option name="medicineId" value="No selected">
                                           Select Medicine
                                        </option>
                                        <% defaultMedicine.forEach(medicine => { %>
                                            <option name="medicineId" value="<%= medicine._id %>">
                                                <%= medicine.medicineName %>
                                            </option>
                                        <% }); %>
                                    </select>
                                </td>
                                <td><input type="text" id="batch_id" name="batch_id"></td>
                                <td><input type="text" id="ava_qty" name="ava_qty"></td>
                                <td><input type="text" id="ex_date" name="ex_date"></td>
                                 <td><input type="text" id="quantity" name="quantity" placeholder="0"
                                            oninput="updateTotal()"></td>
                                <!-- <td><input type="text" name="mrp" id="mrp"></td>
                                <td><input type="text" name="discount" id="discount"></td>
                                <td><input type="text" name="total" id="total"></td>
                                <td>
                                    <div class="btn-g">
                                        <button class="add-btn">Add</button>
                                        <button class="del-btn">Delete</button>
                                    </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%; text-align: left; margin-left: -15px;">
                        <thead>
                            <tr>
                                
                                <th>MRP</th>
                                <th>Discount(%)</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td><input type="text" name="mrp" id="mrp" oninput="updateTotal()" readonly></td>
                                <td><input type="text" name="discount" id="discount" oninput="updateTotal()"></td>
                                <td><input type="text" name="total" id="total" readonly></td>
                                <td>
                                    <div class="btn-g" style="display: flex;">
                                        <button class="add-btn" style="height: 50px;">Add</button>
                                        <button class="del-btn" style="height: 50px;">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                   
                    <div class="main-div" style="margin-bottom: 15px;">
                        <div class="sec-div">
                            <label for="total">Total Amount : </label>
                            <br>
                            <input type="text" name="total_amount" id="total_amount" placeholder="0" readonly>
                        </div>
                        <div class="sec-div">
                            <label for="total_discount">Total Discount :</label>
                            <br>
                            <input type="text" name="total_discount" id="total_discount" placeholder="0" readonly>
                        </div>
                        <div class="sec-div">
                            <label for="net_total">Net Total :</label>
                            <br>
                            <input type="text" name="net_total" id="net_total" readonly>
                        </div>
                    </div>
                    <hr>
                    <div class="main-div" style="margin-bottom: 15px;">
                        <div class="sec-div">
                            <label for="total">Paid Amount : </label>
                            <br>
                            <input type="text" name="paid_amount" id="paid_amount" oninput="updateChange()">
                        </div>
                        <div class="sec-div">
                            <label for="change">Change :</label>
                            <br>
                            <input type="text" name="change" id="change" placeholder="0" readonly>
                        </div>
                    </div>
                </div>

                
            </div>

           
            <div class="btn-add">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>


<script src="./your-script.js"></script>
    <script>
        function updateTotal() {
            // Get values from input fields
            var quantity = parseFloat(document.getElementById('quantity').value) || 0;
            var mrp = parseFloat(document.getElementById('mrp').value) || 0;
            var discount = parseFloat(document.getElementById('discount').value) || 0;

            // Calculate total
            var total = (quantity * mrp).toFixed(2);  // Calculate total without discount
            var discountedTotal = (total * (100 - discount) / 100).toFixed(2);  // Apply discount to total

            // Update total field
            document.getElementById('total').value = discountedTotal;

            // Call other functions to update related fields
            updateTotalAmount();
            updateDiscountAmount();
            updateNetTotal();
        }


        function updateTotalAmount() {
            // Get values from input fields
            var quantity = parseFloat(document.getElementById('quantity').value) || 0;
            var mrp = parseFloat(document.getElementById('mrp').value) || 0;

            // Calculate total amount
            var totalAmount = (quantity * mrp).toFixed(2);

            // Update total amount field
            document.getElementById('total_amount').value = totalAmount;
        }

        function updateDiscountAmount() {
            // Get values from input fields
            var total = parseFloat(document.getElementById('total').value) || 0;
            var totalAmount = parseFloat(document.getElementById('total_amount').value) || 0;

            // Calculate discount amount
            var discountAmount = (totalAmount - total).toFixed(2);

            // Update discount amount field
            document.getElementById('total_discount').value = discountAmount;
        }




        function updateNetTotal() {
            // Get values from input fields
            var total = parseFloat(document.getElementById('total').value) || 0;

            // Update net total field
            document.getElementById('net_total').value = total.toFixed(2);
        }

        function updateChange() {
            // Get values from input fields
            var paidAmount = parseFloat(document.getElementById('paid_amount').value) || 0;
            var netTotal = parseFloat(document.getElementById('net_total').value) || 0;

            // Calculate change
            var change = (paidAmount - netTotal).toFixed(2);

            // Update change field
            document.getElementById('change').value = change;
        }



        function fetchCustomerInfo() {
            var selectedCustomer = document.getElementById('customerSelect').value;

            fetch('/api/getCustomerInfo?customer=' + selectedCustomer)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('address').value = data.address;
                    document.getElementById('contact_no').value = data.contact_no;
                })
                .catch(error => console.error('Error fetching customer information:', error));
        }

        function fetchMedicineInfo() {
    var selectedMedicineId = document.getElementById('medicineSelect').value;

    fetch('/api/getMedicineInfo?medicine=' + selectedMedicineId)
        .then(response => response.json())
        .then(data => {
            document.getElementById('batch_id').value = data.batchId;
            document.getElementById('ava_qty').value = data.quantity;
            document.getElementById('ex_date').value = data.expirationDate;
            document.getElementById('mrp').value = data.mrp;
        })
        .catch(error => console.error('Error fetching medicine information:', error));
}

    </script>
</body>

</html>