.main-content{
    padding: 50px;
}


input{
    width: 25%;
    height: 30px;
}

.form-two-col{
    margin: 30px;
}

.form-two-col select{
    width: 200px;
    height: 30px;
}

.form-two-col label{
    padding: 30px;
}

.form-col{
    margin: 30px;
    margin-right: 30px;
}

.form-col label{
    padding: 30px;
}

.btn{
    margin: 30px;
    padding-left: 30px;
}

.btn button{
    width: 30%;
    height: 25px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
}

.btn-add{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 30px;  
}

.btn-add button{
    width: 30%;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(11, 176, 241);
    color: white;
    border: none;
}