/* Default values changes */
.main-content {
    padding: 15px;
}

/* Manage Medicine */

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn-group button {
    width: 95px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btn-group .btn-red button {
    background-color: red;
    color: white;
}

.btn-group .btn-yellow button {
    background-color: yellow;
}

.btn-group .btn-green button {
    background-color: green;
    color: white;
}


/* table */
.table-container {
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #1c5a4a50;
    text-align: center;
    padding: 8px;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #cee4de50;
}

hr{
    border: 2px solid #f2f2f2;
}
/* Table btn */
.btn-g{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-g button{
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #000 !important;
   
}

.btn-g .edit-btn{
    background-color: rgb(47, 127, 47) !important;
    color: white !important;
}

.btn-g .del-btn{
    background-color: red !important;
    color: white !important;
}